body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #ddd;
}

header {
    display: flex;
    padding: 1em;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 20px;
}

.main {
    padding: 20px;
    padding-top: 0;
}

.sidebar {
    padding-top: 8px;
    top: 0rem;
    position: sticky;
    align-self: flex-start;
}



.main {
    background-color: #333;
}

footer {
    text-align: center;
    background-color: #111;
    color: #fff;
}

ul {
    padding-left: 20px;
}

li {
    list-style: none;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #fff;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
    background-color: #111;
}

th {
    /*border-bottom: 1px solid gray;*/
    background-color: #d00;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 8px;
}

th,
td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #111;
}

tbody tr:nth-child(odd) {
    background-color: #222;
}

p {
    margin: 0.5em;
}

img {
    max-width: 100%;
    height: auto;
}




@media screen and (min-width : 768px) {

    /* デスクトップ用CSS */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1820px;
    }

    .container {
        display: flex;
    }

    .sidebar {
        width: 220px;
    }

    .main {
        flex: 1;
        order: 2;
    }

    .content {
        max-width: 1600px;
    }
}